.ms-toolbar {
   font-size:  12pt;
}
.ms-viewselect a:link{
   font-size: 12pt;
}
select {
   font-size: 12pt;
}
.ms-formlabel {
   font-size: 12pt;
}
.ms-searchbox {
width: 100px;
}
.ms-radiotext {
   font-size: 12pt;
}
.ms-formbody {
   font-size: 12pt;
}
.ms-formdescription
{
   font-size: 12pt;
}
table.ms-form th {
   font-size:    12pt;
}
table.ms-form td {
   font-size:    12pt;
}
.ms-long {
   font-size:    12pt;
}
.ms-input {
   font-size:    12pt;
}
  
.ms-banner a:link {
   font-size:    12pt;
   }
   
.ms-banner a:visited {
   font-size:    12pt;
   }
   
.ms-banner {
   font-size:    12pt;
}
.ms-nav td {
   font-size:    12pt;
}
.ms-nav th  {
   font-size:    12pt;
}
.ms-nav a {
   font-size:    12pt;
}
.ms-titlearea { 
   font-size:     12pt;;
}
.ms-pagetitle {
   font-size: 14pt;
}
.ms-descriptiontext 
{
  font-size: 12pt;
}
.ms-separator
{
   font-size: 12pt;
}
.ms-authoringcontrols
{
   font-size: 12pt;
}
.ms-sectionheader
{
   font-size: 14pt;
}
.ms-propertysheet {
   font-size: 12pt;
}
.ms-propertysheet th {
   font-size: 12pt;
}
.ms-itemheader a {
   font-size: 14pt;
}
.ms-discussiontitle {
   font-size: 14pt;
}
.ms-vh {
   font-size: 12pt;
}
.ms-vb{
   font-size: 12pt;
}
.ms-homepagetitle {
   font-size: 12pt;
}
.ms-addnew {
   font-size: 12pt;
}
.ms-caltop {
font-size: 12pt;
}
.ms-calhead {
font-size: 16pt;
}
.ms-caldow {
font-size: 12pt;
}
.ms-appt {
font-size:12pt;
}
.ms-caldown {
font-size: 12pt;
}
.ms-dpdow {
font-size: 12pt;
}
.ms-dpday {
font-size: 12pt;
}
.ms-dpselectedday {
font-size: 12pt;
}
.ms-dpnonmonth {
font-size: 12pt;
}
.ms-dphead {
font-size: 12pt;
}
.ms-dpfoot {
font-size: 12pt;
}
