vti_encoding:SR|utf8-nl
vti_author:SR|BIOSCI\\utex
vti_modifiedby:SR|BIOSCI\\utex
vti_timelastmodified:TR|22 Oct 2007 13:23:42 -0000
vti_timecreated:TR|11 Apr 2007 13:35:49 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{1D75FA9E-7A78-459E-BC02-8F6AB2E294BF}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|22 Oct 2007 12:58:52 -0000
vti_usagebymonth:UX|4973 7563 6387 5976 5665 6261 5655 4215 5612 5667 4910 4183 5279
vti_usagebyweek:UX|1702 1966 1840 1637 1488
vti_usagebyday:UX|90 272 213 326 360 312 129 73
vti_usagelastupdated:TX|20 Jul 2008 04:59:59 -0000
vti_usagetotalhits:IX|72346
vti_cacheddtm:TX|12 Apr 2007 13:30:19 -0000
vti_filesize:IR|3745
