vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_webservertype:SR|msiis
vti_usagebymonth:UX|27090 42751 49528 36129 33844 33091 31973 24903 27909 29557 26189 27561 27865
vti_usagevisitsbyweek:UX|1464 1376 1291 1420 1335
vti_usernames:VR|
vti_timecreated:TR|10 Mar 2006 21:52:29 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_structfrom_www.sbs.utexas.edu\:80/utex:TR|04 Aug 2003 18:06:57 -0000
vti_usagevisitsbymonth:UX|3788 5982 5273 5024 4528 4621 4631 3285 3739 3780 3049 3118 3794
vti_usagelastupdated:TX|20 Jul 2008 04:59:59 -0000
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_navbuttonnextlabel:SR|Next
vti_usagevisitsbyday:UX|86 208 247 301 308 238 76 78
vti_approvallevels:VR|Approved Denied Pending\\ Review Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_showhiddenpages:IR|1
vti_usagebyweek:UX|10190 10246 9292 10148 10151
vti_usagebyday:UX|765 1278 1451 2067 2162 1699 768 719
vti_usagehitsbyweek:UX|24829 25295 24613 25376 23093
vti_usagehitsbyday:UX|1533 3525 3375 4986 5432 4197 1781 1421
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ACIPAddresses vti_ServerIndexServer vti_ServerCollab
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|none
vti_navbuttonuplabel:SR|Up
vti_doclibwebviewenabled:IR|1
vti_autorecalc:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|5.0.2.6738
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
vti_navbuttonhomelabel:SR|Home
vti_usagefirstdata:TX|01 Jul 2007 05:00:00 -0000
vti_usagehitsbymonth:UX|67055 109169 105340 88018 83837 85998 79215 60499 73005 76049 62312 61982 66722
vti_dependenciesood:IR|1
