.MTLBMUTMJLDPreload{width:1px;height:1px;display: inline;position:absolute;top:-1000px;}
.MTLBMUTMJLDcontent{position:relative;width:100%;background-color:#000000;overflow:hidden;}
.MTLBMUTMJLDpreloader{position:relative;left:0px;top:0px;width:100%;height:100%;background:transparent url(http://web.biosci.utexas.edu/utex/images/LightBox/ajax-loader.gif) no-repeat center center;}
.MTLBMUTMJLDdivimg{position:absolute;width:0px;height:0px;display:none;}
.MTLBMUTMJLDimage{position:absolute;width:100%;height:100%;top:0px;left:0px;}
.MTLBMUTMJLDimagef{position:absolute;width:100%;height:100%;top:0px;left:0px;display:none;opacity:0;}
.MTLBMUTMJLDtitlebar{position:absolute;left:0px;bottom:0px;width:100%;overflow:hidden;height:50px;background-color:#282828;}
.MTLBMUTMJLDtext{color:#ffffff;font:normal normal bold 11px Verdana,Arial,Helvetica,sans-serif;float:left;padding:0px 5px;text-align:left;}
.MTLBMUTMJLDicons{float:right;height:100%;padding:0px 5px;}
.MTLBMUTMJLDicon{border-style:none;cursor:pointer;margin-left:10px;}
.MTLBMUTMJLDprev{width:20px;height:16px;margin-top:17px;}
.MTLBMUTMJLDnext{width:20px;height:16px;margin-top:17px;}
.MTLBMUTMJLDclose{width:16px;height:16px;margin-top:17px;}
.MTLBMUTMJLDtl{position:absolute;top:-15px;left:-15px;display:block;font-size:1px;background:transparent url(http://web.biosci.utexas.edu/utex/images/LightBox/tl.png) no-repeat right bottom;width:15px;height:15px;
* //background:none;
* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://web.biosci.utexas.edu/utex/images/LightBox/tl.png', sizingMethod='crop');}
.MTLBMUTMJLDtop{position:absolute;top:-15px;left:0px;font-size:1px;display:block;background:transparent url(http://web.biosci.utexas.edu/utex/images/LightBox/t.png) repeat-x bottom;width:100%;height:15px;
* //background:none;
* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://web.biosci.utexas.edu/utex/images/LightBox/t.png', sizingMethod='scale');}
.MTLBMUTMJLDtr{position:absolute;top:-15px;right:-15px;font-size:1px;display:block;background:transparent url(http://web.biosci.utexas.edu/utex/images/LightBox/tr.png) no-repeat left bottom;width:15px;height:15px;
* //background:none;
* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://web.biosci.utexas.edu/utex/images/LightBox/tr.png', sizingMethod='crop');}
.MTLBMUTMJLDleft{position:absolute;top:0px;left:-15px;font-size:1px;display:block;background:transparent url(http://web.biosci.utexas.edu/utex/images/LightBox/l.png) repeat-y right bottom;width:15px;height:100%;
* //background:none;
* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://web.biosci.utexas.edu/utex/images/LightBox/l.png', sizingMethod='scale');}
.MTLBMUTMJLDright{position:absolute;top:0px;right:-15px;font-size:1px;display:block;background:transparent url(http://web.biosci.utexas.edu/utex/images/LightBox/r.png) repeat-y left bottom;width:15px;height:100%;
* //background:none;
* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://web.biosci.utexas.edu/utex/images/LightBox/r.png', sizingMethod='scale');}
.MTLBMUTMJLDbl{position:absolute;bottom:-15px;left:-15px;font-size:1px;display:block;background:transparent url(http://web.biosci.utexas.edu/utex/images/LightBox/bl.png) no-repeat right top;width:15px;height:15px;
* //background:none;
* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://web.biosci.utexas.edu/utex/images/LightBox/bl.png', sizingMethod='crop');}
.MTLBMUTMJLDbottom{position:absolute;bottom:-15px;left:0px;font-size:1px;display:block;background:transparent url(http://web.biosci.utexas.edu/utex/images/LightBox/b.png) repeat-x top;height:15px;width:100%;
* //background:none;
* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://web.biosci.utexas.edu/utex/images/LightBox/b.png', sizingMethod='scale');}
.MTLBMUTMJLDbr{position:absolute;bottom:-15px;right:-15px;font-size:1px;background:transparent url(http://web.biosci.utexas.edu/utex/images/LightBox/br.png) no-repeat left top;display:block;width:15px;height:15px;
* //background:none;
* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://web.biosci.utexas.edu/utex/images/LightBox/br.png', sizingMethod='crop');}
