vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Jul 2003 15:53:22 -0000
vti_author:SR|BIOSCI\\j_tray
vti_modifiedby:SR|BIOSCI\\j_tray
vti_nexttolasttimemodified:TR|30 Jul 2003 15:53:22 -0000
vti_timecreated:TR|10 Mar 2006 21:52:43 -0000
vti_extenderversion:SR|5.0.2.6738
vti_syncwith_www.sbs.utexas.edu\:80/utex:TR|30 Jul 2003 15:53:22 -0000
vti_cacheddtm:TX|10 Mar 2006 21:52:43 -0000
vti_filesize:IR|210
vti_cachedbodystyle:SR|<BODY style="margin:0;">
vti_cachedlinkinfo:VX|Q|styles/ows.css S|../_vti_bin/ows.js
vti_cachedsvcrellinks:VX|FQUS|_layouts/styles/ows.css NSUS|_vti_bin/ows.js
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_lineageid:SR|{10D0A07D-BECE-4274-840A-99BCCC6E1D9F}
vti_backlinkinfo:VX|
