vti_encoding:SR|utf8-nl
vti_linkbars:VW|S|sid:1002
vti_hascollabbots:BR|true
vti_timelastmodified:TR|30 Jul 2003 15:53:22 -0000
vti_title:SR|Customization
vti_author:SR|BIOSCI\\j_tray
vti_modifiedby:SR|BIOSCI\\j_tray
vti_nexttolasttimemodified:TR|30 Jul 2003 15:53:22 -0000
vti_timecreated:TR|10 Mar 2006 21:52:43 -0000
vti_extenderversion:SR|5.0.2.6738
vti_syncwith_www.sbs.utexas.edu\:80/utex:TR|30 Jul 2003 15:53:22 -0000
vti_shadowfiles:VX|
vti_cacheddtm:TX|10 Mar 2006 21:52:48 -0000
vti_filesize:IR|34652
vti_cachedtitle:SR|Customization
vti_cachedbodystyle:SR|<BODY marginwidth=0 marginheight=0 scroll="yes">
vti_cachedlinkinfo:VX|S|../_vti_bin/owsbrows.js Q|styles/ows.css D|styles/owsmac.css S|images/logo.gif S|images/blank.gif S|images/blank.gif S|images/blank.gif S|images/blank.gif S|images/blank.gif S|images/ListSet.gif S|images/blank.gif S|images/desfield.gif S|images/blank.gif S|images/desview.gif
vti_cachedsvcrellinks:VX|NSUS|_vti_bin/owsbrows.js FQUS|_layouts/styles/ows.css FDUS|_layouts/styles/owsmac.css FSUS|_layouts/images/logo.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/ListSet.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/desfield.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/desview.gif
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|true
vti_botnavbits:SW|
vti_botlinkbars:VW|S|sid:1002
vti_botnavbarthemes:VR|
vti_botnavbarfeatures:VR|h s
vti_metatags:VR|GENERATOR Microsoft\\ SharePoint ProgId FrontPage.Editor.Document Microsoft\\ SharePoint\\ Content\\ Type Dynamic HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8
vti_charset:SR|utf-8
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft SharePoint
vti_lineageid:SR|{A7E517A3-0F38-4879-84D6-6B3FC61CCBBA}
vti_backlinkinfo:VX|
