vti_encoding:SR|utf8-nl
vti_linkbars:VW|S|sid:1002
vti_hascollabbots:BR|true
vti_timelastmodified:TR|30 Jul 2003 15:53:22 -0000
vti_title:SR|All Users
vti_author:SR|BIOSCI\\j_tray
vti_modifiedby:SR|BIOSCI\\j_tray
vti_nexttolasttimemodified:TR|30 Jul 2003 15:53:22 -0000
vti_timecreated:TR|10 Mar 2006 21:52:44 -0000
vti_extenderversion:SR|5.0.2.6738
vti_syncwith_www.sbs.utexas.edu\:80/utex:TR|30 Jul 2003 15:53:22 -0000
vti_shadowfiles:VX|
vti_cacheddtm:TX|10 Mar 2006 21:52:48 -0000
vti_filesize:IR|6436
vti_cachedtitle:SR|All Users
vti_cachedbodystyle:SR|<BODY marginwidth=0 marginheight=0 scroll="yes">
vti_cachedlinkinfo:VX|S|../_vti_bin/owsbrows.js Q|styles/ows.css D|styles/owsmac.css S|images/logo.gif S|images/contact.gif S|images/blank.gif S|images/blank.gif S|images/blank.gif S|images/blank.gif S|images/blank.gif S|images/blank.gif
vti_cachedsvcrellinks:VX|NSUS|_vti_bin/owsbrows.js FQUS|_layouts/styles/ows.css FDUS|_layouts/styles/owsmac.css FSUS|_layouts/images/logo.gif FSUS|_layouts/images/contact.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif FSUS|_layouts/images/blank.gif
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|true
vti_botnavbits:SW|
vti_botlinkbars:VW|S|sid:1002
vti_botnavbarthemes:VR|
vti_botlistviews:VX|{5311F596-F48B-11d3-8E4F-00500486D3AD}\nUserInfo
vti_botnavbarfeatures:VR|h s
vti_error0:SX|This page contains a FrontPage SetList component that will not function properly because it requires a web server enabled with Microsoft SharePoint.
vti_error:IX|1
vti_metatags:VR|GENERATOR Microsoft\\ SharePoint ProgId FrontPage.Editor.Document HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8
vti_charset:SR|utf-8
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft SharePoint
vti_lineageid:SR|{E6807490-688D-4732-B0F5-728C6B1F4231}
vti_backlinkinfo:VX|
